</body>
<form action="/sign" method="post" id="myForm">
    이름 : <input type="text" name="id"><br>
    비번 : <input type="text" name="password"><br>
    <input type="submit" value="회원가입"><br><br>
</form>

<a href="/login">로그인창</a>
크하핫
{{title}}
</html>
